.title{
    color: #333333;
    text-align: center;
    width: 1400px;
    margin-top: 10px;
;
}
.body {
    color: #dddddd;
    width: 112px;
    height: 134px;
    text-align: center;

    background: url('black.png') no-repeat fixed center;;
}
.back {
    height: 100%;
    width: 100%;
    background: url('back.jpg')  no-repeat;;;
    background-size: cover;
}
.form_line {
    background-color: #1b1e21;

}
.form_line label{
    color: white;
}

.form_line textarea{
    resize: none;
}
.list_line{
    display: inline-flex;
}

.modal_color {
    color: #1d2124;
}