
{% extends 'home.html' %}

{% block content %}
    <div class="container" >
        <div class="row">
            <div class="col-lg-8">
                <h2>Введите ваши данные</h2>
                <div>
                    <form  class="" action="" method="post"> {% csrf_token %}

                            <label for="script_name">Script name:</label>
                            <input type="text" class="form-control " id='index' name="script_name" value = '{{ index }}' disabled>


                            <label for="script">Script text:</label>
                            <textarea name="script" class="form-control" id="script" cols="150" rows="20" >{{ text }}
                            </textarea>

                    <div>
                        <button type="submit" class="btn btn-sm btn-success">Сохранить</button>
                    </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
{% endblock %}