
{% extends 'home.html' %}

{% block content %}

    <div class="container form_line" >
        <div class="row">
            <div class="col-lg-8">
    <form method="post" id="script_form">
    {% csrf_token %}
        <div class="form-group ">
            <label for=script_name">Script name</label>
            <input type="text" class="form-control" id="script_name" placeholder="Script_name1" name="script_name">
        </div>


        <div class="form-group">
            <label for="script">Script</label>
            <textarea class="form-control" id="script" rows="10" name="script">

            </textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" onclick="valid(document.getElementById('script_form'))">Create</button>
        </div>

    </form>
            </div>
        </div>
    </div>




{% comment %}    <script>
    function valid(form) {
        var fail = false
        var script_name = form.script_name.value;
        var script = form.script.value;

        if(script_name=="")
            fail = 'Please input your script name.';
            alert(fail);
        if(fail== false)
            $('#success').modal('show');




    }
    </script>{% endcomment %}
{% endblock %}